{
  "semi": false,
  "trailingComma": "none",
  "singleQuote": true,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.tact",
      "options": {
        "parser": "typescript",
        "semi": true,
        "singleQuote": false
      }
    }
  ]
}
